*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#container-state{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main{
    display: flex;
    gap: 60px;
    height: 100%;
    background: #dbdbdb8f;
}
#container-state label{
    display: flex; 
    gap: 8px;
}

.wrapper-history{
    width: 100%;
    height: 100%;
    padding: 16px;
}

.container-history{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #FFF;
    overflow: auto;
    gap: 10px;
}